@charset "UTF-8";
/* CSS Document */
@font-family: 'PT Sans', sans-serif;

	h1 {
		font-family: PT Sans;
		font-size: 100px;
		color: white;
		font-weight: bold;
		line-height: 80%;
		width: 100%;
	}
.logodisplay {
		display: block;
		margin-top: 2%;
		text-align: center;
	}
	nav {
	font-family: PT Sans;
	font-weight: bold;
	font-size: 12pt;
	margin-top: 3%;
	margin-left: 20%;
	width: 80%;
	}

	ul {
	list-style: none;
	z-index: 20;
}
	nav a {
	color: white;
	text-decoration: none;
	opacity: 0.4
}
	li a:hover {
	opacity: 1;
	-webkit-transition: opacity .2s ease-in-out;
}
	.active {
	opacity: 1;
}
	li {
		display: inline-block;
		float: left;
		padding: 0 70px;
		opacity: 1;
		
}

	#menu-icon {
	margin-left: 30%;
	right: -500px;
	width: 50px;
	height: 90px;
	background: url("images/menu-icon.png") center;
		background-size: 100%;
		background-repeat: no-repeat;
		opacity: 1;

}
	#a:hover#menu-icon {
	background-color: #FF0004;
	border-radius: 4px 4px 0 0;
}
	.socials {
		position: fixed;
  		bottom: 0;
		float: right;
		right: 0;
		margin-right: 10%;
		margin-bottom: 2%;
	}
	#container {
	width: 100%;
	float: left;
	margin: 0 0 0;
	padding: 0;
}
	#container #col1 {
	width: 15%;
	float: left;
	margin: 0;
}
	#container #col2 {
	width: 85%;
	float: left;
	margin: 0;
}
	.row:after {
	content: "";
    display: table;
    clear: both;
}

/*MEDIA QUERY*/
@media only screen and (min-width: 600px) {
	#menu-icon {
		display: none;
	}
	h1 {
		font-size: 150px;
	}
}
@media only screen and (max-width: 600px) {

	h1 {
		margin-left: 5%;
		font-size: 60px;
	}
	
	h2 {
		margin-left: 5%;
		font-size: 20px;
		margin-right: 5%;
		text-decoration: none;
	}
	
	#menu-icon {
		display: block;
	}
	
	nav ul, nav:active ul {
		display: none;
		position: absolute;
		border: 5px;
		padding: 50px 50px;
		background-color: rgba(0, 0, 0, 0.95);
		top: 220px;
		width: 70%;
		border-radius: 8px 0 8px 8px;
		font-size: 24px;
	}
	
	nav li {
		text-align: center;
	}
	nav:hover ul {
		display: block;
		color: #0A00FF;
		cursor: pointer; 
	}	
	#container #col1 {
		width: 100%;
	}
	#container #col2 {
		width: 100%;
	}
	.socials {
		position: fixed;
		height: 10%;
		margin-right: 15%;
	}
}